@mixin flex-box($flex-direction : column, $justify-content : flex-start, $align-items: flex-start, $flex-warp : no-wrap)
  flex-direction: $flex-direction
  justify-content: $justify-content
  align-items: $align-items
  flex-wrap: $flex-warp
  display: flex



@mixin slide-up-animation($n : 2)
  @at-root
    @keyframes slide
      @for $i from 0 to $n
        $current-frame : $i*100%
        $margin-top: 400-$i*400px
        #{$current-frame}
          margin-top: $margin-top
