@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #CBCBCB;
}

body {
  background-color: #303030;
  font-family: "Pangolin", cursive;
  width: auto;
}

@keyframes slide {
  0% {
    margin-top: 400px;
  }
  100% {
    margin-top: 0px;
  }
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: #303030;
}

.navbar-container {
  font-size: 18px;
  background-color: transparent;
  padding-bottom: 10px;
  position: flex;
}

.main-nav {
  list-style: none;
  display: none;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.nav-links, .logo {
  text-decoration: none;
  color: #CBCBCB;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: #CBCBCB;
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

section {
  height: 100vh;
}

.home {
  background-image: url(../assets/photo-1589906493606-a6ca2a06078b.jpeg);
  background-size: cover;
  background-attachment: scroll;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: no-wrap;
  display: flex;
}
.home .container {
  margin-top: 20px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
  display: flex;
}
.home .container h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  animation: slide 0.6s ease-in-out;
}
.home .container h1 {
  font-size: 1.7rem;
}

@media (min-width: 768px) {
  .navbar {
    background-color: transparent;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .navbar-container #chkToggle:checked + ul.main-nav {
    display: flex;
  }
  .navbar-container .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navbar-container .main-nav li {
    margin: 0;
  }
  .navbar-container .nav-links {
    margin-left: 40px;
  }
  .navbar-container .logo {
    margin-top: 0;
  }
  .navbar-container .navbar-toggle {
    display: none;
  }
  .navbar-container .logo:hover, .navbar-container .nav-links:hover {
    color: #87bfb9;
  }

  .home {
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=styles.css.map */
