@use "./mixins"
@import "./pallete.sass"
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap')

*
  padding: 0
  margin: 0
  box-sizing: border-box
  color: $light-shades

body
  background-color: $dark-shades
  font-family: 'Pangolin', cursive
  width: auto

@include mixins.slide-up-animation()

.navbar
  position: fixed
  width: 100%
  background-color: $dark-shades


.navbar-container
  font-size: 18px
  background-color: transparent
  padding-bottom: 10px
  position: flex

.main-nav
  list-style: none
  display: none
  li
    text-align: center
    margin: 15px auto

%nav-text-style
  text-decoration: none
  color: $light-shades

.logo
  @extend %nav-text-style
  display: inline-block
  font-size: 22px
  margin:
    top : 10px
    left: 20px


.nav-links
  @extend %nav-text-style

.navbar-toggle
  position: absolute
  top: 10px
  right: 20px
  cursor: pointer
  color: $light-shades
  font-size: 24px

#chkToggle
  display: none

#chkToggle:checked + ul.main-nav
  display: block


section
  height: 100vh

.home
  background-image: url(../assets/photo-1589906493606-a6ca2a06078b.jpeg)
  background-size: cover
  background-attachment: scroll
  @include mixins.flex-box($justify-content:space-around, $align-items:center)

  .container
    margin-top: 20px
    height: 300px
    width: 300px
    overflow: hidden
    @include mixins.flex-box($align-items: center)
    h3
      font-size: 1.5rem
      margin-bottom: 15px
      animation: slide 0.6s ease-in-out
      // margin-top: 400px
    h1
      font-size: 1.7rem


@media (min-width: 768px)
  .navbar
    background-color: transparent
  .navbar-container
    display: flex
    justify-content: space-between
    padding:
      bottom : 0
    height: 70px
    align-items: center

    #chkToggle:checked + ul.main-nav
      display: flex

    .main-nav
      display: flex
      margin:
        right : 30px
      flex-direction: row
      justify-content: flex-end
      li
        margin: 0

    .nav-links
      margin:
        left : 40px

    .logo
      margin:
        top : 0

    .navbar-toggle
      display: none

    .logo:hover, .nav-links:hover
      color: $light-accent-clor

  .home
    background-attachment: fixed
